<template>
  <div>
    {{ movie.title }}
    {{ movie.tagline }}

    {{ movie.key }}

    <plex-image :src="movie.art" :width=200></plex-image>

    <player :video-key="movie.key" v-if="movie.key"></player>
  </div>
</template>

<script lang="ts">
import * as data from "@/plex-types";
import plex from "@/plex";
import PlexImage from "@/components/directories/PlexImage.vue";
import Vue from "vue";
import Player from "@/components/Player.vue";

export default Vue.extend({
  name: "Movie",
  components: {Player, PlexImage},
  data() {
    return {
      movie: {} as data.MovieDetail,
    }
  },
  methods: {
    async loadContent() {
      const movieKey: string = this.$route.params.movieKey;
      const movieDetailContainer = await plex.movieDetail(movieKey);
      this.movie = movieDetailContainer.content;
    },
  },
  async mounted() {
    await this.loadContent()
  },
  watch: {
    async '$route.params.movieKey'() {
      await this.loadContent()
    },
  },
})
</script>

<style scoped>

</style>