<template>
  <grid>
    <router-link
        v-for="movie in content" :key="movie.key"
        :to="`/movie/${encodeURIComponent(movie.key)}/`"
    >
      <library-item
          :src="movie.thumb"
          :title="movie.title"
      ></library-item>
    </router-link>
  </grid>
</template>

<script lang="ts">
import plex from "@/plex";
import * as data from "@/plex-types";
import Vue from "vue";
import LibraryItem from "@/components/directories/LibraryItem.vue";
import Grid from "@/components/directories/Grid.vue";

export default Vue.extend({
  name: "MovieLibrary",
  components: {Grid, LibraryItem},
  data() {
    return {
      content: [] as data.MovieOutline[]
    }
  },
  methods: {
    async loadContent() {
      const libraryKey: string = this.$route.params.libraryKey;
      const libraryContents = await plex.libraryContents(libraryKey, data.DirectoryType.Movie) as data.MovieLibrary;
      this.content = libraryContents.videos;
    },
  },
  async mounted() {
    await this.loadContent()
  },
  watch: {
    async '$route.params.libraryKey'() {
      await this.loadContent()
    },
  },
})
</script>

<style scoped>
</style>