<template>
  <grid>
    <router-link
        v-for="show in shows" :key="show.key"
        :to="`/library/show/${encodeURIComponent(show.key)}/`"
    >
    <library-item
        :src="show.thumb"
        :title="show.title"
    ></library-item>
    </router-link>
  </grid>
</template>

<script lang="ts">
import plex from "@/plex";
import * as data from "@/plex-types";
import Vue from "vue";
import Grid from "@/components/directories/Grid.vue";
import LibraryItem from "@/components/directories/LibraryItem.vue";

export default Vue.extend({
  name: "ShowLibrary",
  components: {Grid, LibraryItem},
  data() {
    return {
      shows: [] as data.Directory[]
    }
  },
  methods: {
    async loadContent() {
      const libraryKey: string = this.$route.params.libraryKey;
      const libraryContents = await plex.libraryContents(libraryKey, data.DirectoryType.Show) as data.ShowLibrary;
      this.shows = libraryContents.shows;
    },
  },
  async mounted() {
    await this.loadContent()
  },
  watch: {
    async '$route.params.libraryKey'() {
      await this.loadContent()
    },
  },
})
</script>

<style scoped>
</style>