<template>
  <div>
    <plex-image :src="content.banner"></plex-image>
    {{ content.summary }}
    <grid>
      <library-item
          v-for="season in content.subdirectories" :key="season.key"
          :src="season.thumb"
          :title="season.title"
      />
    </grid>
  </div>
</template>

<script lang="ts">
import plex from "@/plex";
import * as data from "@/plex-types";
import Vue from "vue";
import Grid from "@/components/directories/Grid.vue";
import LibraryItem from "@/components/directories/LibraryItem.vue";
import PlexImage from "@/components/directories/PlexImage.vue";

export default Vue.extend({
  name: "Show",
  components: {PlexImage, Grid, LibraryItem},
  data() {
    return {
      content: {} as data.SubDirectoryList,
    }
  },
  methods: {
    async loadContent() {
      const showKey: string = this.$route.params.showKey;
      this.content = await plex.subDirectoryContents(showKey, data.DirectoryType.Season) as data.SubDirectoryList;
    },
  },
  async mounted() {
    await this.loadContent()
  },
  watch: {
    async '$route.params.libraryKey'() {
      await this.loadContent()
    },
  },
})
</script>

<style scoped>
</style>