<template>
  <v-list
      nav
  >
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="title">
          Plex Client
        </v-list-item-title>
        <v-list-item-subtitle>
          Libraries
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-divider/>

    <v-list-item
        v-for="directory in directories"
        :key="directory.key"
        link
        :to="{ path: `/library/${directory.directory_type}s/${directory.key}/`}"
    >
      <v-list-item-icon>
        <v-icon v-text="libraryIcon(directory.directory_type)"/>
      </v-list-item-icon>

      <v-list-item-content>
        {{ directory.title }}
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script lang="ts">
import Vue from "vue";
import plex from "@/plex";
import * as data from "@/plex-types";

export default Vue.extend({
  name: "LibraryList",
  data() {
    return {
      directories: [] as data.Directory[],
    }
  },
  async mounted() {
    this.directories = (await plex.listLibraries()).directories;
    const first = this.directories[0];
    if (first && this.$route.path === '/') {
      await this.$router.push({path: `/library/${first.directory_type}s/${first.key}/`});
    }
  },
  methods: {
    libraryIcon(directoryType: data.DirectoryType): string {
      switch (directoryType) {
        case data.DirectoryType.Movie:
          return "mdi-movie";
        case data.DirectoryType.Show:
          return "mdi-television-classic";
        case data.DirectoryType.Artist:
          return "mdi-music";
        default:
          return "mdi-television-guide";
      }
    },
  }
})
</script>

<style scoped>

</style>