<template>
  <div>
  <video
      preload="auto"
      controls
      width="600"
      ref="video"
  ></video>
    {{ src }}
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Hls from 'hls.js';

import plex from "@/plex";


export default Vue.extend({
  name: "Player",
  props: {
    videoKey: {
      type: String,
      required: true,
    }
  },
  mounted() {
    console.log('HLS supported', Hls.isSupported());

    const src = this.src;
    // const src = "https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8";
    const videoEl = this.$refs.video as HTMLVideoElement;

    if (Hls.isSupported()) {
      const hls = new Hls();
      // bind them together
      hls.attachMedia(videoEl);
      hls.on(Hls.Events.ERROR, (_, data) => {
        console.log(`HLS ERROR ${data.type}${data.fatal ? ' FATAL' : ''}`);
      })

      hls.on(Hls.Events.MEDIA_ATTACHED, function () {
        console.log('video and hls.js are now bound together ! attaching ', src);
        hls.loadSource(src);
      });

      hls.on(Hls.Events.MANIFEST_LOADED, (_, data) => {
        console.log('Parsed manifesto', data.levels.toString(), 'subs', hls.subtitleTrack, JSON.stringify(hls.subtitleTracks));
      })

      console.log(hls);
    }
    else if (videoEl.canPlayType('application/vnd.apple.mpegurl')) {
      videoEl.src = this.src;
    }
  },
  computed: {
    src(): string {
      return plex.transcodeVideo(this.videoKey);
    }
  }
})
</script>

<style scoped>

</style>