<template>
  <v-dialog
      v-model="dialogOpen"
      width="500"
      eager
      persistent
  >
    <template v-slot:activator="{on, attrs}">
      <v-btn
          icon
          v-bind="attrs"
          v-on="on"
      >
        <v-icon>mdi-cog</v-icon>
      </v-btn>
    </template>

    <v-card>
      <v-card-title>
        Settings
      </v-card-title>

      <v-card-text>

        <v-switch
            v-on:change="setDarkMode"
            :value="this.$vuetify.theme.dark"
            label="Dark theme"
        />

        <v-form
            v-model="valid"
            ref="form"
            lazy-validation
        >
          <v-text-field
              label="Token"
              v-model="token"
          ></v-text-field>

          <v-text-field
              label="Host"
              v-model="host"
              :rules="[rules.required]"
          ></v-text-field>

          <v-text-field
              label="Port"
              v-model.number="port"
              :rules="[rules.required]"
              type="number"
          ></v-text-field>
        </v-form>

      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-btn
            text
            @click="close"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";
import {vuexAccessor as accessor} from "@/utils";

type VForm = Vue & { validate: () => boolean };

export default Vue.extend({
  name: "SettingsDialog",
  data() {
    return {
      valid: true,
      dialogOpen: false,
      rules: {
        required: (value: string) => !!value || "Required",
        integer: (value: number) => Number.isInteger(value) || "Must be an integer",
      }
    }
  },
  computed: {
    form(): VForm {
      return this.$refs.form as VForm
    },
    token: accessor('setToken', 'plex.token'),
    host: accessor('setHost', 'plex.host'),
    port: accessor('setPort', 'plex.port'),
  },
  methods: {
    setDarkMode(state: any) {
      // Ensure bool
      state = !!state;
      this.$vuetify.theme.dark = state;
      this.$store.commit('setDarkMode', state);
      console.log('store', JSON.stringify(this.$store.state));
    },
    validate() {
      this.form.validate()
    },
    close() {
      if (this.form.validate()) {
        this.dialogOpen = false
      }
    }
  },
})
</script>

<style scoped>

</style>