<template>
<div id="container">
  <slot></slot>
</div>
</template>

<script>
export default {
  name: "Grid"
}
</script>

<style scoped>
#container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 130px);
  justify-content: center;
}
</style>