<template>
    <v-card
        :max-width="width"
        height="100%"
    >
      <plex-image
          :width="width"
          :height="height"
          :src="src"
          :alt="title"
          ></plex-image>
        <v-card-text class="library-title" :title="title">
          {{ title }}
        </v-card-text>
    </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import PlexImage from "@/components/directories/PlexImage.vue";

export default Vue.extend({
  name: "LibraryItem",
  components: {PlexImage},
  props: {
    src: String,
    title: String,
    width: {
      type: Number,
      default: 120,
    },
    height: {
      type: Number,
      default: 180,
    }
  },
})
</script>
<style scoped>
.library-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>