<template>
  <v-img
      v-if="src"
      :lazy-src="placeholder"
      :src="absolute"
      :alt="alt"
      :width="width"
      :height="height"
  >
    <template v-slot:placeholder>
      <v-row
          class="fill-height ma-0"
          align="center"
          justify="center"
      >
        <v-progress-circular
            indeterminate
            color="grey lighten-5"
        ></v-progress-circular>
      </v-row>
    </template>
  </v-img>
  <div v-else class="no-img" :style="noImgStyle"></div>
</template>

<script lang="ts">
import Vue from "vue";
import plex from "../../plex";

export default Vue.extend({
  name: "PlexImage",
  props: {
    src: String,
    alt: String,
    width: Number,
    height: Number,
    lazyScale: {
      type: Number,
      default: 0.1,
    },
  },
  computed: {
    absolute() {
      return plex.relativeUrlToAbsolute(this.src);
    },
    placeholder() {
      return plex.transcodeImage(this.src, this.width * this.lazyScale, this.height * this.lazyScale)
    },
    noImgStyle() {
      return {
        width: this.width + 'px',
        height: this.height + 'px',
        backgroundColor: '#2e2e2e',
      }
    }
  },
})
</script>

<style scoped>
.no-img {
}
</style>