<template>
  <v-app>
    <v-app-bar
        app
        color="primary"
        dark
    >
      <v-app-bar-nav-icon
          @click.stop="drawer = !drawer"
      />
      Plex Client

      <v-spacer></v-spacer>
      <settings-dialog></settings-dialog>
    </v-app-bar>

    <v-navigation-drawer
        app
        v-model="drawer"
    >
      <library-list/>
    </v-navigation-drawer>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import LibraryList from "@/components/LibraryList";
import SettingsDialog from "@/components/SettingsDialog";

export default {
  name: 'App',

  components: {
    SettingsDialog,
    LibraryList,
  },

  data: () => {
    return {
      drawer: true,
    }
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    }
  },
  mounted() {
    // Load dark mode
    let darkMode = this.$store.state.darkMode;

    console.log('store', JSON.stringify(this.$store.state))

    if (darkMode === null) {
      // Follow system theme
      darkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

      console.info('Dark mode not set, defaulting to system value:', darkMode);
    }

    this.$vuetify.theme.dark = darkMode;
  }
};
</script>
